*{
  box-sizing: border-box;
}
body{
  background: linear-gradient(to bottom right, #6dd5ed, #2193b0);
  background-attachment: fixed;

}
svg{
  background-color: bisque;
  position: relative;
  left:250px;
  top:100px;
  box-shadow: 15px 15px hsl(0, 0%, 50%);

}
.bar:hover{
  fill:black;
}
#frame{
  background:blue;
}